/** START a11y **/
.fl-page-nav .navbar-toggle:focus,
a:focus,
a.fl-button:focus,
.fl-builder-content a.fl-button:focus,
button:focus,
input[type=button]:focus,
input[type=submit]:focus {
	outline: thin dotted;
	outline-offset: -3px;
}

.fl-photo-caption {
	white-space: normal;
}

legend {
	border: none;
	margin-bottom: 0;
}

/* couleur du placeholder */
input[type=text]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
input[type=month]::-webkit-input-placeholder,
input[type=week]::-webkit-input-placeholder,
input[type=time]::-webkit-input-placeholder,
input[type=number]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: rgba(128, 128, 128, 0,6);
}
input[type=text]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=date]:-moz-placeholder,
input[type=month]:-moz-placeholder,
input[type=week]:-moz-placeholder,
input[type=time]:-moz-placeholder,
input[type=number]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=url]:-moz-placeholder,
textarea:-moz-placeholder {
    color: #747474;
}
input[type=text]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=date]::-moz-placeholder,
input[type=month]::-moz-placeholder,
input[type=week]::-moz-placeholder,
input[type=time]::-moz-placeholder,
input[type=number]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=url]::-moz-placeholder,
textarea::-moz-placeholder {
    color: #747474;
}
input[type=text]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
input[type=month]:-ms-input-placeholder,
input[type=week]:-ms-input-placeholder,
input[type=time]:-ms-input-placeholder,
input[type=number]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: rgba(128, 128, 128, 0,6);
}
.woocommerce form .form-row input.input-text::-webkit-input-placeholder,
.woocommerce form .form-row textarea::-webkit-input-placeholder,
.woocommerce form .form-row select::-webkit-input-placeholder,
.woocommerce table.cart td.actions .coupon .input-text::-webkit-input-placeholder,
.woocommerce-page form .form-row input.input-text::-webkit-input-placeholder,
.woocommerce-page form .form-row textarea::-webkit-input-placeholder,
.woocommerce-page form .form-row select::-webkit-input-placeholder,
.woocommerce-page table.cart td.actions .coupon .input-text::-webkit-input-placeholder {
    color: rgba(128, 128, 128, 0,6);
}
.woocommerce form .form-row input.input-text:-moz-placeholder,
.woocommerce form .form-row textarea:-moz-placeholder,
.woocommerce form .form-row select:-moz-placeholder,
.woocommerce table.cart td.actions .coupon .input-text:-moz-placeholder,
.woocommerce-page form .form-row input.input-text:-moz-placeholder,
.woocommerce-page form .form-row textarea:-moz-placeholder,
.woocommerce-page form .form-row select:-moz-placeholder,
.woocommerce-page table.cart td.actions .coupon .input-text:-moz-placeholder {
    color: #747474;
}
.woocommerce form .form-row input.input-text::-moz-placeholder,
.woocommerce form .form-row textarea::-moz-placeholder,
.woocommerce form .form-row select::-moz-placeholder,
.woocommerce table.cart td.actions .coupon .input-text::-moz-placeholder,
.woocommerce-page form .form-row input.input-text::-moz-placeholder,
.woocommerce-page form .form-row textarea::-moz-placeholder,
.woocommerce-page form .form-row select::-moz-placeholder,
.woocommerce-page table.cart td.actions .coupon .input-text::-moz-placeholder {
    color: #747474;
}
.woocommerce form .form-row input.input-text:-ms-input-placeholder,
.woocommerce form .form-row textarea:-ms-input-placeholder,
.woocommerce form .form-row select:-ms-input-placeholder,
.woocommerce table.cart td.actions .coupon .input-text:-ms-input-placeholder,
.woocommerce-page form .form-row input.input-text:-ms-input-placeholder,
.woocommerce-page form .form-row textarea:-ms-input-placeholder,
.woocommerce-page form .form-row select:-ms-input-placeholder,
.woocommerce-page table.cart td.actions .coupon .input-text:-ms-input-placeholder {
    color: rgba(128, 128, 128, 0,6);
}
/** END a11y **/


.fl-widget-title {
	font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0px;
}
